html {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $normal;
    margin: 0;
    padding: 0;
    color: $type-light;
}

* {
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6, strong {
    color: $type;
    font-weight: $bold;
    margin-top: 0;
}

input,
.default-input {
    display: block;
    color: $type;
    font-weight: $normal;
    font-family: $font-family;
    line-height: 21px;
    font-size: $base-font-size;
}

input {
    border: 1px solid rgba($type-light, 0.8);
    border-width: 0 0 1px 0;
    padding: 8px 0;
    margin: 16px 0 8px 0;
    transition: border-color 250ms ease-in-out;
    width: 100%;
    &:focus {
        border-color: $feature;
    }
}

textarea {
    width: 100%;
    resize: none;
    border: 1px solid rgba($type-light, 0.8);
    height: 500px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $type;
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
    transition: background-color 5000s ease-in-out 0s;
}