html {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $normal;
    margin: 0;
    padding: 0;
    color: $type-light;
}

* {
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6, strong {
    color: $type;
    font-weight: $bold;
    margin-top: 0;
}