.process {
    padding-top: 100px;
    max-width: 1030px;
    margin: 0 auto;
    &--header {
        text-align: center;
        h1 {
            font-size: 11px;
            margin: 0 0 5px 0;
            color: $type-light;
            text-transform: uppercase;
            font-weight: $normal;
        }
        h2 {
            font-size: 30px;
            font-weight: $normal;
            margin: 0 0 50px 0;
        }
    }
    &--layout {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            li {
                padding: 40px 20px;
                list-style: none;
                background-color: white;
                border-radius: 2px;
                transition: box-shadow 250ms ease-in-out;
                &:not(:first-of-type) {
                    margin-left: 65px;
                }
                &:hover {
                    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
                }
            }
        }
    }
}