.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: $padding;
    padding-right: $padding;
    @include clearfix;
    width: 100%;
    max-width: $container-width;
}

.row {
    margin-right: -#{$padding};
    margin-left: -#{$padding};
    @include clearfix;
}

[class*="col-"]{
  @include clearfix;
  padding-right: $padding;
  padding-left: $padding;
  min-height: 1px;
}

$screens: $screen-xs, $screen-sm, $screen-md, $screen-lg;
$sizes: xs, sm, md, lg;

$col-sizes: zip($screens, $sizes);

@each $a in $col-sizes {
    $col-count: $cols;
    $colNum: 0;
    @while $col-count > 0 {
        .col-#{nth($a, 2)}-#{$col-count} {
            @media (min-width: #{nth($a, 1)}) {
                width: #{100% - ($colNum * (100 / $cols))};
                float: left;
            }
        }
        .col-#{nth($a, 2)}-offset-#{$col-count} {
            @media (min-width: #{nth($a, 1)}) {
                margin-left: #{100% - ($colNum * (100 / $cols))};
            }
        }
        $col-count: $col-count - 1;
        $colNum: $colNum + 1;
    }
}

.column-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
