aside {
    width: 250px;
    background: $blue;
    height: 100vh;
    position: fixed;
    top: 0px;
    .sidebar-nav {
        margin: 0;
        padding: 25px 0 0 0;
        li {
            list-style: none;
            margin: 0 5px 5px 10px;
            position: relative;
            span {
                color: white;
                position: absolute;
                left: 10px;
                line-height: 45px;
                // top: 50%;
                // transform: translateY(-50%);
            }
            a {
                padding: 0 15px 0 15px;
                line-height: 45px;
                // border-bottom: 1px solid #eee;
                display: block;
                color: white;
                transition: background 250ms ease-in-out;
                border-radius: 5px;
                text-decoration: none;
                &:hover,
                &.selected {
                    text-decoration: none;
                    background: darken($blue, 10%);
                }
            }
        }
    }
}