$type: #282828;
$type-light: #A9ABD3;

$feature: #2292FF;
$light-bg: #F7FAFD;
$dark-bg: #343866;
$accent: #E6EDF4;

$font-family: 'Playfair Display', serif;
$font-family-alt: 'Playfair Display', serif;
$base-font-size: 18px;
$base-line-height: 1.5;

$bold: 700;
$medium: 700;
$normal: 400;

$corner-radius: 5px;

$brand-width: 140px;

$border-light: #F7FAFD;


